*.[oa]
*.ERR.*
*.log
*.BAK
*.ERR
*.bom
*.obj
*.tlog

test/
zturn/
stm32_snail/mstep_rtos/Debug/
stm32_snail/mstep_rtos/mstep_debug/
stm32_snail/mstep_rtos/settings/
stm32_snail/mstep_rtos/step_debug/
stm32_snail/mstep_rtos/step_x_dbg/
stm32_snail/mstep_usb/Debug/
stm32_snail/mstep_usb/mstep_debug/
stm32_snail/mstep_usb/settings/
stm32_snail/mstep_usb/step_debug/
stm32_snail/mstep_usb/usb_can/
stm32_snail/usb_can/usb_can/usb_can/

win/src_vc_2/debug
win/src_vc_2/ipch
win/src_vc_2/release
win/src_vc_2/Win32

*.backup.*
*.jou
*.exe
*.exp
*.ilk
*.pdb
*.bak
*.uvgui.*
*.bin
*.bit
*.mcs
*.ipch
*.sdf


