# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.[oa]
*.ERR.*
*.log
*.BAK
*.ERR
*.bom
*.obj
*.tlog
.vs/
test/
stm32_snail/mstep_rtos/Debug/
stm32_snail/mstep_rtos/mstep_debug/
stm32_snail/mstep_rtos/settings/
stm32_snail/mstep_rtos/step_debug/
stm32_snail/mstep_rtos/step_x_dbg/
stm32_snail/mstep_usb/Debug/
stm32_snail/mstep_usb/mstep_debug/
stm32_snail/mstep_usb/settings/
stm32_snail/mstep_usb/step_debug/
stm32_snail/mstep_usb/usb_can/
stm32_snail/usb_can/usb_can/usb_can/
stm32_snail/usb_can/usb_can/settings/
stm32_snail/usb_can_dima/usb_can_dima/
stm32_snail/usb_can_dima/settings/
stm32_snail/step_axis_dima/step_x_dbg/
stm32_snail/step_axis_dima/settings/
stm32_snail/booter/EWARM/snail_boot/
stm32_snail/booter/EWARM/settings/
win/src_vc_2/debug/
win/src_vc_2/ipch/
win/src_vc_2/release/
win/src_vc_2/Win32/
win/win_snail_dbg/debug/
win/win_snail_dbg/ipch/
win/win_snail_dbg/release/
win/win_snail_dbg/Win32/
win/win_snail_dbg/GeneratedFiles/

*.backup.*
*.jou
*.exe
*.exp
*.ilk
*.pdb
*.bak
*.uvgui.*
*.bin
*.bit
*.mcs
*.ipch
*.sdf
*.o
*.pbi
*.dep
*.xcl
*.suo
*.dbgdt
*.dnx
*.wsdt
*.lst



